# Moving Social Characteristic CSVs into a dataframe

In [3]:
import pandas as pd
import numpy as np
import re
import os

In [4]:
path = 'felipe_csv/social_characteristics'

### Listing out the files in the directory

In [5]:
files = os.listdir(path)
files

['acs5_ZCTA501001.csv',
 'acs5_ZCTA501002.csv',
 'acs5_ZCTA501003.csv',
 'acs5_ZCTA501005.csv',
 'acs5_ZCTA501007.csv',
 'acs5_ZCTA501008.csv',
 'acs5_ZCTA501009.csv',
 'acs5_ZCTA501010.csv',
 'acs5_ZCTA501011.csv',
 'acs5_ZCTA501012.csv',
 'acs5_ZCTA501013.csv',
 'acs5_ZCTA501020.csv',
 'acs5_ZCTA501022.csv',
 'acs5_ZCTA501026.csv',
 'acs5_ZCTA501027.csv',
 'acs5_ZCTA501028.csv',
 'acs5_ZCTA501029.csv',
 'acs5_ZCTA501030.csv',
 'acs5_ZCTA501031.csv',
 'acs5_ZCTA501032.csv',
 'acs5_ZCTA501033.csv',
 'acs5_ZCTA501034.csv',
 'acs5_ZCTA501035.csv',
 'acs5_ZCTA501036.csv',
 'acs5_ZCTA501037.csv',
 'acs5_ZCTA501038.csv',
 'acs5_ZCTA501039.csv',
 'acs5_ZCTA501040.csv',
 'acs5_ZCTA501050.csv',
 'acs5_ZCTA501053.csv',
 'acs5_ZCTA501054.csv',
 'acs5_ZCTA501056.csv',
 'acs5_ZCTA501057.csv',
 'acs5_ZCTA501060.csv',
 'acs5_ZCTA501062.csv',
 'acs5_ZCTA501063.csv',
 'acs5_ZCTA501066.csv',
 'acs5_ZCTA501068.csv',
 'acs5_ZCTA501069.csv',
 'acs5_ZCTA501070.csv',
 'acs5_ZCTA501071.csv',
 'acs5_ZCTA501072.csv',
 'acs5_ZCTA501073.csv',
 'acs5_ZCTA501074.csv',
 'acs5_ZCTA501075.csv',
 'acs5_ZCTA501077.csv',
 'acs5_ZCTA501079.csv',
 'acs5_ZCTA501080.csv',
 'acs5_ZCTA501081.csv',
 'acs5_ZCTA501082.csv',
 'acs5_ZCTA501083.csv',
 'acs5_ZCTA501084.csv',
 'acs5_ZCTA501085.csv',
 'acs5_ZCTA501088.csv',
 'acs5_ZCTA501089.csv',
 'acs5_ZCTA501092.csv',
 'acs5_ZCTA501093.csv',
 'acs5_ZCTA501094.csv',
 'acs5_ZCTA501095.csv',
 'acs5_ZCTA501096.csv',
 'acs5_ZCTA501097.csv',
 'acs5_ZCTA501098.csv',
 'acs5_ZCTA501103.csv',
 'acs5_ZCTA501104.csv',
 'acs5_ZCTA501105.csv',
 'acs5_ZCTA501106.csv',
 'acs5_ZCTA501107.csv',
 'acs5_ZCTA501108.csv',
 'acs5_ZCTA501109.csv',
 'acs5_ZCTA501118.csv',
 'acs5_ZCTA501119.csv',
 'acs5_ZCTA501128.csv',
 'acs5_ZCTA501129.csv',
 'acs5_ZCTA501144.csv',
 'acs5_ZCTA501151.csv',
 'acs5_ZCTA501201.csv',
 'acs5_ZCTA501220.csv',
 'acs5_ZCTA501222.csv',
 'acs5_ZCTA501223.csv',
 'acs5_ZCTA501224.csv',
 'acs5_ZCTA501225.csv',
 'acs5_ZCTA501226.csv',
 'acs5_ZCTA501229.csv',
 'acs5_ZCTA501230.csv',
 'acs5_ZCTA501235.csv',
 'acs5_ZCTA501236.csv',
 'acs5_ZCTA501237.csv',
 'acs5_ZCTA501238.csv',
 'acs5_ZCTA501240.csv',
 'acs5_ZCTA501242.csv',
 'acs5_ZCTA501243.csv',
 'acs5_ZCTA501244.csv',
 'acs5_ZCTA501245.csv',
 'acs5_ZCTA501247.csv',
 'acs5_ZCTA501253.csv',
 'acs5_ZCTA501254.csv',
 'acs5_ZCTA501255.csv',
 'acs5_ZCTA501256.csv',
 'acs5_ZCTA501257.csv',
 'acs5_ZCTA501258.csv',
 'acs5_ZCTA501259.csv',
 'acs5_ZCTA501260.csv',
 'acs5_ZCTA501262.csv',
 'acs5_ZCTA501264.csv',
 'acs5_ZCTA501266.csv',
 'acs5_ZCTA501267.csv',
 'acs5_ZCTA501270.csv',
 'acs5_ZCTA501301.csv',
 'acs5_ZCTA501330.csv',
 'acs5_ZCTA501331.csv',
 'acs5_ZCTA501337.csv',
 'acs5_ZCTA501338.csv',
 'acs5_ZCTA501339.csv',
 'acs5_ZCTA501340.csv',
 'acs5_ZCTA501341.csv',
 'acs5_ZCTA501342.csv',
 'acs5_ZCTA501343.csv',
 'acs5_ZCTA501344.csv',
 'acs5_ZCTA501346.csv',
 'acs5_ZCTA501347.csv',
 'acs5_ZCTA501349.csv',
 'acs5_ZCTA501350.csv',
 'acs5_ZCTA501351.csv',
 'acs5_ZCTA501354.csv',
 'acs5_ZCTA501355.csv',
 'acs5_ZCTA501360.csv',
 'acs5_ZCTA501364.csv',
 'acs5_ZCTA501366.csv',
 'acs5_ZCTA501367.csv',
 'acs5_ZCTA501368.csv',
 'acs5_ZCTA501370.csv',
 'acs5_ZCTA501373.csv',
 'acs5_ZCTA501375.csv',
 'acs5_ZCTA501376.csv',
 'acs5_ZCTA501378.csv',
 'acs5_ZCTA501379.csv',
 'acs5_ZCTA501380.csv',
 'acs5_ZCTA501420.csv',
 'acs5_ZCTA501430.csv',
 'acs5_ZCTA501431.csv',
 'acs5_ZCTA501432.csv',
 'acs5_ZCTA501434.csv',
 'acs5_ZCTA501436.csv',
 'acs5_ZCTA501438.csv',
 'acs5_ZCTA501440.csv',
 'acs5_ZCTA501450.csv',
 'acs5_ZCTA501451.csv',
 'acs5_ZCTA501452.csv',
 'acs5_ZCTA501453.csv',
 'acs5_ZCTA501460.csv',
 'acs5_ZCTA501462.csv',
 'acs5_ZCTA501463.csv',
 'acs5_ZCTA501464.csv',
 'acs5_ZCTA501468.csv',
 'acs5_ZCTA501469.csv',
 'acs5_ZCTA501473.csv',
 'acs5_ZCTA501474.csv',
 'acs5_ZCTA501475.csv',
 'acs5_ZCTA501501.csv',
 'acs5_ZCTA501503.csv',
 'acs5_ZCTA501504.csv',
 'acs5_ZCTA501505.csv',
 'acs5_ZCTA501506.csv',
 'acs5_ZCTA501507.csv',
 'acs5_ZCTA501510.csv',
 'acs5_ZCTA501515.csv',
 'acs5_ZCTA501516.csv',
 'acs5_ZCTA501518.csv',
 'acs5_ZCTA501519.csv',
 'acs5_ZCTA501520.csv',
 'acs5_ZCTA501521.csv',
 'acs5_ZCTA501522.csv',
 'acs5_ZCTA501523.csv',
 'acs5_ZCTA501524.csv',
 'acs5_ZCTA501525.csv',
 'acs5_ZCTA501527.csv',
 'acs5_ZCTA501529.csv',
 'acs5_ZCTA501531.csv',
 'acs5_ZCTA501532.csv',
 'acs5_ZCTA501534.csv',
 'acs5_ZCTA501535.csv',
 'acs5_ZCTA501536.csv',
 'acs5_ZCTA501537.csv',
 'acs5_ZCTA501540.csv',
 'acs5_ZCTA501541.csv',
 'acs5_ZCTA501542.csv',
 'acs5_ZCTA501543.csv',
 'acs5_ZCTA501545.csv',
 'acs5_ZCTA501550.csv',
 'acs5_ZCTA501560.csv',
 'acs5_ZCTA501561.csv',
 'acs5_ZCTA501562.csv',
 'acs5_ZCTA501564.csv',
 'acs5_ZCTA501566.csv',
 'acs5_ZCTA501568.csv',
 'acs5_ZCTA501569.csv',
 'acs5_ZCTA501570.csv',
 'acs5_ZCTA501571.csv',
 'acs5_ZCTA501581.csv',
 'acs5_ZCTA501583.csv',
 'acs5_ZCTA501585.csv',
 'acs5_ZCTA501588.csv',
 'acs5_ZCTA501590.csv',
 'acs5_ZCTA501602.csv',
 'acs5_ZCTA501603.csv',
 'acs5_ZCTA501604.csv',
 'acs5_ZCTA501605.csv',
 'acs5_ZCTA501606.csv',
 'acs5_ZCTA501607.csv',
 'acs5_ZCTA501608.csv',
 'acs5_ZCTA501609.csv',
 'acs5_ZCTA501610.csv',
 'acs5_ZCTA501611.csv',
 'acs5_ZCTA501612.csv',
 'acs5_ZCTA501701.csv',
 'acs5_ZCTA501702.csv',
 'acs5_ZCTA501718.csv',
 'acs5_ZCTA501719.csv',
 'acs5_ZCTA501720.csv',
 'acs5_ZCTA501721.csv',
 'acs5_ZCTA501730.csv',
 'acs5_ZCTA501731.csv',
 'acs5_ZCTA501740.csv',
 'acs5_ZCTA501741.csv',
 'acs5_ZCTA501742.csv',
 'acs5_ZCTA501745.csv',
 'acs5_ZCTA501746.csv',
 'acs5_ZCTA501747.csv',
 'acs5_ZCTA501748.csv',
 'acs5_ZCTA501749.csv',
 'acs5_ZCTA501752.csv',
 'acs5_ZCTA501754.csv',
 'acs5_ZCTA501756.csv',
 'acs5_ZCTA501757.csv',
 'acs5_ZCTA501760.csv',
 'acs5_ZCTA501770.csv',
 'acs5_ZCTA501772.csv',
 'acs5_ZCTA501773.csv',
 'acs5_ZCTA501775.csv',
 'acs5_ZCTA501776.csv',
 'acs5_ZCTA501778.csv',
 'acs5_ZCTA501801.csv',
 'acs5_ZCTA501803.csv',
 'acs5_ZCTA501810.csv',
 'acs5_ZCTA501821.csv',
 'acs5_ZCTA501824.csv',
 'acs5_ZCTA501826.csv',
 'acs5_ZCTA501827.csv',
 'acs5_ZCTA501830.csv',
 'acs5_ZCTA501832.csv',
 'acs5_ZCTA501833.csv',
 'acs5_ZCTA501834.csv',
 'acs5_ZCTA501835.csv',
 'acs5_ZCTA501840.csv',
 'acs5_ZCTA501841.csv',
 'acs5_ZCTA501843.csv',
 'acs5_ZCTA501844.csv',
 'acs5_ZCTA501845.csv',
 'acs5_ZCTA501850.csv',
 'acs5_ZCTA501851.csv',
 'acs5_ZCTA501852.csv',
 'acs5_ZCTA501854.csv',
 'acs5_ZCTA501860.csv',
 'acs5_ZCTA501862.csv',
 'acs5_ZCTA501863.csv',
 'acs5_ZCTA501864.csv',
 'acs5_ZCTA501867.csv',
 'acs5_ZCTA501876.csv',
 'acs5_ZCTA501879.csv',
 'acs5_ZCTA501880.csv',
 'acs5_ZCTA501886.csv',
 'acs5_ZCTA501887.csv',
 'acs5_ZCTA501890.csv',
 'acs5_ZCTA501901.csv',
 'acs5_ZCTA501902.csv',
 'acs5_ZCTA501904.csv',
 'acs5_ZCTA501905.csv',
 'acs5_ZCTA501906.csv',
 'acs5_ZCTA501907.csv',
 'acs5_ZCTA501908.csv',
 'acs5_ZCTA501913.csv',
 'acs5_ZCTA501915.csv',
 'acs5_ZCTA501921.csv',
 'acs5_ZCTA501922.csv',
 'acs5_ZCTA501923.csv',
 'acs5_ZCTA501929.csv',
 'acs5_ZCTA501930.csv',
 'acs5_ZCTA501937.csv',
 'acs5_ZCTA501938.csv',
 'acs5_ZCTA501940.csv',
 'acs5_ZCTA501944.csv',
 'acs5_ZCTA501945.csv',
 'acs5_ZCTA501949.csv',
 'acs5_ZCTA501950.csv',
 'acs5_ZCTA501951.csv',
 'acs5_ZCTA501952.csv',
 'acs5_ZCTA501960.csv',
 'acs5_ZCTA501965.csv',
 'acs5_ZCTA501966.csv',
 'acs5_ZCTA501969.csv',
 'acs5_ZCTA501970.csv',
 'acs5_ZCTA501982.csv',
 'acs5_ZCTA501983.csv',
 'acs5_ZCTA501984.csv',
 'acs5_ZCTA501985.csv',
 'acs5_ZCTA502019.csv',
 'acs5_ZCTA502021.csv',
 'acs5_ZCTA502025.csv',
 'acs5_ZCTA502026.csv',
 'acs5_ZCTA502030.csv',
 'acs5_ZCTA502032.csv',
 'acs5_ZCTA502035.csv',
 'acs5_ZCTA502038.csv',
 'acs5_ZCTA502043.csv',
 'acs5_ZCTA502045.csv',
 'acs5_ZCTA502047.csv',
 'acs5_ZCTA502048.csv',
 'acs5_ZCTA502050.csv',
 'acs5_ZCTA502052.csv',
 'acs5_ZCTA502053.csv',
 'acs5_ZCTA502054.csv',
 'acs5_ZCTA502056.csv',
 'acs5_ZCTA502061.csv',
 'acs5_ZCTA502062.csv',
 'acs5_ZCTA502066.csv',
 'acs5_ZCTA502067.csv',
 'acs5_ZCTA502071.csv',
 'acs5_ZCTA502072.csv',
 'acs5_ZCTA502081.csv',
 'acs5_ZCTA502090.csv',
 'acs5_ZCTA502093.csv',
 'acs5_ZCTA502108.csv',
 'acs5_ZCTA502109.csv',
 'acs5_ZCTA502110.csv',
 'acs5_ZCTA502111.csv',
 'acs5_ZCTA502113.csv',
 'acs5_ZCTA502114.csv',
 'acs5_ZCTA502115.csv',
 'acs5_ZCTA502116.csv',
 'acs5_ZCTA502118.csv',
 'acs5_ZCTA502119.csv',
 'acs5_ZCTA502120.csv',
 'acs5_ZCTA502121.csv',
 'acs5_ZCTA502122.csv',
 'acs5_ZCTA502124.csv',
 'acs5_ZCTA502125.csv',
 'acs5_ZCTA502126.csv',
 'acs5_ZCTA502127.csv',
 'acs5_ZCTA502128.csv',
 'acs5_ZCTA502129.csv',
 'acs5_ZCTA502130.csv',
 'acs5_ZCTA502131.csv',
 'acs5_ZCTA502132.csv',
 'acs5_ZCTA502133.csv',
 'acs5_ZCTA502134.csv',
 'acs5_ZCTA502135.csv',
 'acs5_ZCTA502136.csv',
 'acs5_ZCTA502138.csv',
 'acs5_ZCTA502139.csv',
 'acs5_ZCTA502140.csv',
 'acs5_ZCTA502141.csv',
 'acs5_ZCTA502142.csv',
 'acs5_ZCTA502143.csv',
 'acs5_ZCTA502144.csv',
 'acs5_ZCTA502145.csv',
 'acs5_ZCTA502148.csv',
 'acs5_ZCTA502149.csv',
 'acs5_ZCTA502150.csv',
 'acs5_ZCTA502151.csv',
 'acs5_ZCTA502152.csv',
 'acs5_ZCTA502155.csv',
 'acs5_ZCTA502163.csv',
 'acs5_ZCTA502169.csv',
 'acs5_ZCTA502170.csv',
 'acs5_ZCTA502171.csv',
 'acs5_ZCTA502176.csv',
 'acs5_ZCTA502180.csv',
 'acs5_ZCTA502184.csv',
 'acs5_ZCTA502186.csv',
 'acs5_ZCTA502188.csv',
 'acs5_ZCTA502189.csv',
 'acs5_ZCTA502190.csv',
 'acs5_ZCTA502191.csv',
 'acs5_ZCTA502199.csv',
 'acs5_ZCTA502203.csv',
 'acs5_ZCTA502205.csv',
 'acs5_ZCTA502210.csv',
 'acs5_ZCTA502215.csv',
 'acs5_ZCTA502301.csv',
 'acs5_ZCTA502302.csv',
 'acs5_ZCTA502322.csv',
 'acs5_ZCTA502324.csv',
 'acs5_ZCTA502325.csv',
 'acs5_ZCTA502330.csv',
 'acs5_ZCTA502332.csv',
 'acs5_ZCTA502333.csv',
 'acs5_ZCTA502338.csv',
 'acs5_ZCTA502339.csv',
 'acs5_ZCTA502341.csv',
 'acs5_ZCTA502343.csv',
 'acs5_ZCTA502346.csv',
 'acs5_ZCTA502347.csv',
 'acs5_ZCTA502350.csv',
 'acs5_ZCTA502351.csv',
 'acs5_ZCTA502356.csv',
 'acs5_ZCTA502357.csv',
 'acs5_ZCTA502359.csv',
 'acs5_ZCTA502360.csv',
 'acs5_ZCTA502364.csv',
 'acs5_ZCTA502366.csv',
 'acs5_ZCTA502367.csv',
 'acs5_ZCTA502368.csv',
 'acs5_ZCTA502370.csv',
 'acs5_ZCTA502375.csv',
 'acs5_ZCTA502379.csv',
 'acs5_ZCTA502382.csv',
 'acs5_ZCTA502420.csv',
 'acs5_ZCTA502421.csv',
 'acs5_ZCTA502445.csv',
 'acs5_ZCTA502446.csv',
 'acs5_ZCTA502451.csv',
 'acs5_ZCTA502452.csv',
 'acs5_ZCTA502453.csv',
 'acs5_ZCTA502457.csv',
 'acs5_ZCTA502458.csv',
 'acs5_ZCTA502459.csv',
 'acs5_ZCTA502460.csv',
 'acs5_ZCTA502461.csv',
 'acs5_ZCTA502462.csv',
 'acs5_ZCTA502464.csv',
 'acs5_ZCTA502465.csv',
 'acs5_ZCTA502466.csv',
 'acs5_ZCTA502467.csv',
 'acs5_ZCTA502468.csv',
 'acs5_ZCTA502472.csv',
 'acs5_ZCTA502474.csv',
 'acs5_ZCTA502476.csv',
 'acs5_ZCTA502478.csv',
 'acs5_ZCTA502481.csv',
 'acs5_ZCTA502482.csv',
 'acs5_ZCTA502492.csv',
 'acs5_ZCTA502493.csv',
 'acs5_ZCTA502494.csv',
 'acs5_ZCTA502532.csv',
 'acs5_ZCTA502534.csv',
 'acs5_ZCTA502535.csv',
 'acs5_ZCTA502536.csv',
 'acs5_ZCTA502537.csv',
 'acs5_ZCTA502538.csv',
 'acs5_ZCTA502539.csv',
 'acs5_ZCTA502540.csv',
 'acs5_ZCTA502542.csv',
 'acs5_ZCTA502543.csv',
 'acs5_ZCTA502553.csv',
 'acs5_ZCTA502554.csv',
 'acs5_ZCTA502556.csv',
 'acs5_ZCTA502557.csv',
 'acs5_ZCTA502558.csv',
 'acs5_ZCTA502559.csv',
 'acs5_ZCTA502561.csv',
 'acs5_ZCTA502562.csv',
 'acs5_ZCTA502563.csv',
 'acs5_ZCTA502564.csv',
 'acs5_ZCTA502568.csv',
 'acs5_ZCTA502571.csv',
 'acs5_ZCTA502575.csv',
 'acs5_ZCTA502576.csv',
 'acs5_ZCTA502584.csv',
 'acs5_ZCTA502601.csv',
 'acs5_ZCTA502630.csv',
 'acs5_ZCTA502631.csv',
 'acs5_ZCTA502632.csv',
 'acs5_ZCTA502633.csv',
 'acs5_ZCTA502635.csv',
 'acs5_ZCTA502637.csv',
 'acs5_ZCTA502638.csv',
 'acs5_ZCTA502639.csv',
 'acs5_ZCTA502641.csv',
 'acs5_ZCTA502642.csv',
 'acs5_ZCTA502643.csv',
 'acs5_ZCTA502644.csv',
 'acs5_ZCTA502645.csv',
 'acs5_ZCTA502646.csv',
 'acs5_ZCTA502647.csv',
 'acs5_ZCTA502648.csv',
 'acs5_ZCTA502649.csv',
 'acs5_ZCTA502650.csv',
 'acs5_ZCTA502652.csv',
 'acs5_ZCTA502653.csv',
 'acs5_ZCTA502655.csv',
 'acs5_ZCTA502657.csv',
 'acs5_ZCTA502659.csv',
 'acs5_ZCTA502660.csv',
 'acs5_ZCTA502663.csv',
 'acs5_ZCTA502664.csv',
 'acs5_ZCTA502666.csv',
 'acs5_ZCTA502667.csv',
 'acs5_ZCTA502668.csv',
 'acs5_ZCTA502670.csv',
 'acs5_ZCTA502671.csv',
 'acs5_ZCTA502672.csv',
 'acs5_ZCTA502673.csv',
 'acs5_ZCTA502675.csv',
 'acs5_ZCTA502702.csv',
 'acs5_ZCTA502703.csv',
 'acs5_ZCTA502713.csv',
 'acs5_ZCTA502715.csv',
 'acs5_ZCTA502717.csv',
 'acs5_ZCTA502718.csv',
 'acs5_ZCTA502719.csv',
 'acs5_ZCTA502720.csv',
 'acs5_ZCTA502721.csv',
 'acs5_ZCTA502723.csv',
 'acs5_ZCTA502724.csv',
 'acs5_ZCTA502725.csv',
 'acs5_ZCTA502726.csv',
 'acs5_ZCTA502738.csv',
 'acs5_ZCTA502739.csv',
 'acs5_ZCTA502740.csv',
 'acs5_ZCTA502743.csv',
 'acs5_ZCTA502744.csv',
 'acs5_ZCTA502745.csv',
 'acs5_ZCTA502746.csv',
 'acs5_ZCTA502747.csv',
 'acs5_ZCTA502748.csv',
 'acs5_ZCTA502760.csv',
 'acs5_ZCTA502762.csv',
 'acs5_ZCTA502763.csv',
 'acs5_ZCTA502764.csv',
 'acs5_ZCTA502766.csv',
 'acs5_ZCTA502767.csv',
 'acs5_ZCTA502769.csv',
 'acs5_ZCTA502770.csv',
 'acs5_ZCTA502771.csv',
 'acs5_ZCTA502777.csv',
 'acs5_ZCTA502779.csv',
 'acs5_ZCTA502780.csv',
 'acs5_ZCTA502790.csv',
 'acs5_ZCTA502791.csv']

### Creating logic to put the all of the CSVs into a single dataframe

To start, I grabbed a couple of rows of information I thought could be helpful in the regression(households, educational attainment, internet broadband access), but we can add columns as necessary. From the format that Felipe put the CSVs into, I extracted the name of the zip code from the file name, and then got the population estimate for each variable. If needed, we can repeat this process for the margin of error percentage and estimate.

In [6]:
dct = {}
zipcodes = []
total_households = []
no_diploma = []
assoc_degree = []
bach_degree = []
grad_degree = []
broadband_households = []
dfs = []
for filename in files:
    zip_code = re.search(r'ZCTA50(\d{4})\.csv', filename)
    zipcodes.append(zip_code.group(1))
    df = pd.read_csv(path + '/' + filename)
    dfs.append(df)
    total_households.append(df[df['Unnamed: 0'] == 'Estimate Households By Type Total Households']['Estimate'][0])
    no_diploma.extend(df[df['Unnamed: 0'] == 'Estimate Educational Attainment Population 25 Years And Over 9Th To 12Th Grade, No Diploma']['Estimate'].values)
    assoc_degree.extend(df[df['Unnamed: 0'] == "Estimate Educational Attainment Population 25 Years And Over Associate'S Degree"]['Estimate'].values)
    bach_degree.extend(df[df['Unnamed: 0'] == "Estimate Educational Attainment Population 25 Years And Over Bachelor'S Degree"]['Estimate'].values)
    grad_degree.extend(df[df['Unnamed: 0'] == "Estimate Educational Attainment Population 25 Years And Over Graduate Or Professional Degree"]['Estimate'].values)
    broadband_households.extend(df[df['Unnamed: 0'] == 'Estimate Computers And Internet Use Total Households With A Broadband Internet Subscription']['Estimate'].values)

dct['Zip Code'] = zipcodes
dct['Total Households'] = total_households
dct['Population Over 25 With No High School Diploma'] = no_diploma
dct['Population Over 25 With Associate Degree'] = assoc_degree
dct['Population Over 25 With Bachelor Degree'] = bach_degree
dct['Population Over 25 With Graduate/Professional Degree'] = grad_degree
dct['Households With Computer Access and Broadband Internet'] = broadband_households

social_char_estimates = pd.DataFrame.from_dict(dct)
social_char_estimates

,Zip Code,Total Households,Population Over 25 With No High School Diploma,Population Over 25 With Associate Degree,Population Over 25 With Bachelor Degree,Population Over 25 With Graduate/Professional Degree,Households With Computer Access and Broadband Internet
0,1001,6791.0,694.0,1394.0,2808.0,1789.0,5781.0
1,1002,9985.0,153.0,689.0,3291.0,6527.0,9273.0
2,1003,15.0,0.0,46.0,1.0,32.0,10.0
3,1005,1761.0,16.0,276.0,642.0,647.0,1617.0
4,1007,5917.0,164.0,1328.0,2573.0,2524.0,5580.0
...,...,...,...,...,...,...,...
534,2777,6752.0,779.0,1461.0,2402.0,1532.0,5959.0
535,2779,2294.0,103.0,396.0,1347.0,662.0,2094.0
536,2780,20625.0,2920.0,3032.0,5890.0,2185.0,17168.0
537,2790,6667.0,709.0,1383.0,2041.0,1695.0,5907.0
538,2791,244.0,0.0,10.0,38.0,248.0,164.0

social_char_estimates.to_csv('social_char_estimates.csv')

## Creating a mapping from zip code to ZCTA

In [7]:
zcta_to_zips = pd.read_excel('ani_csv/ZIPCodetoZCTACrosswalk2021UDS.xlsx')
zcta_to_zips

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,zip_join_type
0,501,Holtsville,NY,Post Office or large volume customer,11742.0,Spatial join to ZCTA
1,544,Holtsville,NY,Post Office or large volume customer,11742.0,Spatial join to ZCTA
2,601,Adjuntas,PR,Zip Code Area,601.0,Zip matches ZCTA
3,602,Aguada,PR,Zip Code Area,602.0,Zip matches ZCTA
4,603,Aguadilla,PR,Zip Code Area,603.0,Zip matches ZCTA
...,...,...,...,...,...,...
41086,99926,Metlakatla,AK,Zip Code Area,99926.0,Zip matches ZCTA
41087,99927,Point Baker,AK,Zip Code Area,99927.0,Zip matches ZCTA
41088,99928,Ward Cove,AK,Post Office or large volume customer,99901.0,Spatial join to ZCTA
41089,99929,Wrangell,AK,Zip Code Area,99929.0,Zip matches ZCTA
41090,99950,Ketchikan,AK,Zip Code Area,99921.0,Spatial join to ZCTA

In [8]:
MA_zctas = zcta_to_zips[zcta_to_zips['STATE'] == 'MA']
MA_zctas

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,zip_join_type
194,1001,Agawam,MA,Zip Code Area,1001.0,Zip matches ZCTA
195,1002,Amherst,MA,Zip Code Area,1002.0,Zip matches ZCTA
196,1003,Amherst,MA,Zip Code Area,1003.0,Zip matches ZCTA
197,1004,Amherst,MA,Post Office or large volume customer,1002.0,Spatial join to ZCTA
198,1005,Barre,MA,Zip Code Area,1005.0,Zip matches ZCTA
...,...,...,...,...,...,...
870,2779,Berkley,MA,Zip Code Area,2779.0,Zip matches ZCTA
871,2780,Taunton,MA,Zip Code Area,2780.0,Zip matches ZCTA
872,2790,Westport,MA,Zip Code Area,2790.0,Zip matches ZCTA
873,2791,Westport Point,MA,Zip Code Area,2791.0,Zip matches ZCTA
1897,5501,Andover,MA,Post Office or large volume customer,1810.0,Spatial join to ZCTA

Cleaning the dataset for usage

In [9]:
MA_zctas = MA_zctas.rename(columns={'ZIP_CODE': 'Zip Code', 'PO_NAME': 'City'})
MA_zctas = MA_zctas[['Zip Code', 'City', 'ZCTA']]
MA_zctas['ZCTA'] = MA_zctas['ZCTA'].astype(int)
MA_zctas

      Zip Code            City  ZCTA
194       1001          Agawam  1001
195       1002         Amherst  1002
196       1003         Amherst  1003
197       1004         Amherst  1002
198       1005           Barre  1005
...        ...             ...   ...
870       2779         Berkley  2779
871       2780         Taunton  2780
872       2790        Westport  2790
873       2791  Westport Point  2791
1897      5501         Andover  1810

[681 rows x 3 columns]

## Putting all the demographics datasets into one dataframe

Grabbed some of the most pertinent information from the demographic csvs, but can add more specific information if we need (breakdown of race into more distinct groups, more age groups, mixed race populations, etc). I then put all the information into one dataframe, and cleaned the data so that it is all type int.

In [10]:
demographic_path = 'felipe_csv/demographic_characteristics'
demographic_files = os.listdir(demographic_path)

In [11]:
dem_dct = {}
zctas = []
under_18 = []
over_18 = []
over_65 = []
white = []
black = []
native = []
asian = []
pacific = []
latino = []
citizen_over_18 = []
dem_dfs = []
for demographic_file in demographic_files:
    zcta = re.search(r'ZCTA50(\d{4})\.csv', demographic_file)
    zctas.append(zcta.group(1))
    dem_df = pd.read_csv(demographic_path + '/' + demographic_file)
    dem_dfs.append(dem_df)
    under_18.append(dem_df[dem_df['Label'] == 'Estimate Sex And Age Total Population Under 18 Years']['Estimate'].values[0])
    over_18.append(dem_df[dem_df['Label'] == 'Estimate Sex And Age Total Population 18 Years And Over']['Estimate'].values[0])
    over_65.append(dem_df[dem_df['Label'] == 'Estimate Sex And Age Total Population 65 Years And Over']['Estimate'].values[0])
    white.append(dem_df[dem_df['Label'] == 'Estimate Race Total Population One Race White']['Estimate'].values[0])
    black.append(dem_df[dem_df['Label'] == 'Estimate Race Total Population One Race Black Or African American']['Estimate'].values[0])
    native.append(dem_df[dem_df['Label'] == 'Estimate Race Total Population One Race American Indian And Alaska Native']['Estimate'].values[0])
    asian.append(dem_df[dem_df['Label'] == 'Estimate Race Total Population One Race Asian']['Estimate'].values[0])
    pacific.append(dem_df[dem_df['Label'] == 'Estimate Race Total Population One Race Native Hawaiian And Other Pacific Islander']['Estimate'].values[0])
    latino.append(dem_df[dem_df['Label'] == 'Estimate Hispanic Or Latino And Race Total Population Hispanic Or Latino (Of Any Race)']['Estimate'].values[0])
    citizen_over_18.append(dem_df[dem_df['Label'] == 'Estimate Citizen, Voting Age Population Citizen, 18 And Over Population']['Estimate'].values[0])
    
dem_dct['ZCTA'] = zctas
dem_dct['Population Under 18'] = under_18
dem_dct['Population Over 18'] = over_18
dem_dct['Population Over 65'] = over_65
dem_dct['Total White Population'] = white
dem_dct['Total Black or African American Population'] = black
dem_dct['Total Native American Population'] = native
dem_dct['Total Asian Population'] = asian
dem_dct['Total Native Hawaiian and Pacific Islander Population'] = pacific
dem_dct['Total Hispanic or Latino Population'] = latino
dem_dct['Total Citizens over 18'] = citizen_over_18

demographic_estimates = pd.DataFrame.from_dict(dem_dct)
for column in demographic_estimates.columns:
    demographic_estimates[column] = demographic_estimates[column].astype(int)
demographic_estimates

,ZCTA,Population Under 18,Population Over 18,Population Over 65,Total White Population,Total Black or African American Population,Total Native American Population,Total Asian Population,Total Native Hawaiian and Pacific Islander Population,Total Hispanic or Latino Population,Total Citizens over 18
0,1001,2797,13291,3613,14434,596,0,591,0,689,12861
1,1002,3599,23724,3561,20141,1643,24,2623,132,2059,21231
2,1003,189,13522,5,9173,766,39,2570,0,1298,12121
3,1005,882,4065,661,4768,22,0,0,0,171,3986
4,1007,3119,12185,2527,14051,52,0,491,0,617,12079
...,...,...,...,...,...,...,...,...,...,...,...
534,2777,3170,13850,3584,15930,116,81,255,0,90,13728
535,2779,1583,5141,918,6481,20,0,0,0,4,4994
536,2780,11705,40206,7742,40678,3634,124,942,0,4434,38144
537,2790,2644,13593,3900,15827,8,0,29,0,242,13489
538,2791,0,361,182,361,0,0,0,0,0,361

demographic_estimates.to_csv('noah_csv/demographic_estimates.csv')