<h1>Creating an Automatic Census Data Scraper by State</h1>
<h2><b>IMPORTANT:</b><br><span style="color:red;">This product uses the Census Bureau Data API but is not endorsed or certified by the Census Bureau.</span></h2>

<h2>Setting up the Census Bureau API</h2>

In [4]:
import pandas as pd
import numpy as np
import requests
import csv
import warnings
warnings.simplefilter('ignore') #Turn off warnings

In [5]:
base_url = "https://api.census.gov/data/2021/acs/acs5/profile?get="
api_key = "672276f2a0ad053d60f8bb0848cad8a290a29427"
zcta_url = "&for=zip%20code%20tabulation%20area:" # need to include a 0 at the end when using the ZCTA range

In [6]:
variable_table_url = f'https://api.census.gov/data/2021/acs/acs5/profile/groups/DP02.html'
v_table = pd.read_html(variable_table_url) # reading all available variables from API for the ACS5
variable_df = pd.DataFrame(v_table[0])
variable_df['Label'].replace({"!!": " ", ":": ""}, regex=True, inplace=True)
variable_df

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,DP02_0001E,Estimate HOUSEHOLDS BY TYPE Total households,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,int,DP02,NaN
1,DP02_0001EA,Annotation of Estimate HOUSEHOLDS BY TYPE Tota...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,string,DP02,NaN
2,DP02_0001M,Margin of Error HOUSEHOLDS BY TYPE Total house...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,int,DP02,NaN
3,DP02_0001MA,Annotation of Margin of Error HOUSEHOLDS BY TY...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,string,DP02,NaN
4,DP02_0001PE,Percent HOUSEHOLDS BY TYPE Total households,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,int,DP02,NaN
...,...,...,...,...,...,...,...,...,...
1228,DP02_0154PE,Percent COMPUTERS AND INTERNET USE Total house...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,float,DP02,NaN
1229,DP02_0154PEA,Annotation of Percent COMPUTERS AND INTERNET U...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,string,DP02,NaN
1230,DP02_0154PM,Percent Margin of Error COMPUTERS AND INTERNET...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,float,DP02,NaN
1231,DP02_0154PMA,Annotation of Percent Margin of Error COMPUTER...,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,predicate-only,NaN,0,string,DP02,NaN
1232,1232 variables,1232 variables,1232 variables,1232 variables,1232 variables,1232 variables,1232 variables,1232 variables,1232 variables

In [7]:
variable_table = variable_df['Name'][0:1232]
variable_table = variable_table[~variable_table.str.endswith('A')] # want to remove values ending in A
variable_table.reset_index(drop = True, inplace = True)
variable_table

0       DP02_0001E
1       DP02_0001M
2      DP02_0001PE
3      DP02_0001PM
4       DP02_0002E
          ...
611    DP02_0153PM
612     DP02_0154E
613     DP02_0154M
614    DP02_0154PE
615    DP02_0154PM
Name: Name, Length: 616, dtype: object

In [8]:
test = ','.join(variable_table[0:48])
test_all_vars_url = f"{base_url}{test}{zcta_url}01001&key={api_key}"
response = requests.get(test_all_vars_url)

In [9]:
labels = response.json()[0][:-1]
values = response.json()[1:][0][:-1]
test_dict = {labels[i]: values[i] for i in range(len(values))}

test_df = variable_df[~variable_df["Name"].str.endswith("A")]
test_df.reset_index(drop = True, inplace = True)
test_labels = test_df["Label"][0:192]
test_dict2 = {test_labels[i]: values[i] for i in range(len(values))}

test_df = pd.DataFrame(np.array(values).reshape(-1,4)).rename(columns = {0: "Estimate", 
                                                               1: "Margin of Error", 
                                                               2: "Percent", 
                                                               3: "Percent Margin of Error"})
test_df

   Estimate Margin of Error Percent Percent Margin of Error
0      6791             345    6791              -888888888
1      2959             265    43.6                     4.1
2       874             173    12.9                     2.6
3       726             232    10.7                     3.3
4       196             129     2.9                     1.9
5      1156             222    17.0                     3.2
6        48              55     0.7                     0.8
7       843             207    12.4                     3.0
8       367             146     5.4                     2.1
9      1950             314    28.7                     4.0
10      344             153     5.1                     2.2
11     1352             293    19.9                     3.9

In [10]:
test_labels = test_labels[0::4]
new_index = [test_labels[i][test_labels[i].find("BY TYPE")+8:] for i in range(0, len(test_labels), 4)]

test_df.index = new_index
test_df

,Estimate,Margin of Error,Percent,Percent Margin of Error
Total households,6791,345,6791,-888888888
Total households Married-couple household,2959,265,43.6,4.1
Total households Married-couple household With children of the householder under 18 years,874,173,12.9,2.6
Total households Cohabiting couple household,726,232,10.7,3.3
Total households Cohabiting couple household With children of the householder under 18 years,196,129,2.9,1.9
"Total households Male householder, no spouse/partner present",1156,222,17.0,3.2
"Total households Male householder, no spouse/partner present With children of the householder under 18 years",48,55,0.7,0.8
"Total households Male householder, no spouse/partner present Householder living alone",843,207,12.4,3.0
"Total households Male householder, no spouse/partner present Householder living alone 65 years and over",367,146,5.4,2.1
"Total households Female householder, no spouse/partner present",1950,314,28.7,4.0
"Total households Female householder, no spouse/partner present With children of the householder under 18 years",344,153,5.1,2.2
"Total households Female householder, no spouse/partner present Householder living alone",1352,293,19.9,3.9

In [11]:
social_labels = variable_df["Label"][:1232:8].reset_index(drop=True).str.title()

# Getting labels for the Demographic Table
variable_table_url = f'https://api.census.gov/data/2021/acs/acs5/profile/groups/DP05.html'
v_table = pd.read_html(variable_table_url) # reading all available variables from API for the ACS5
variable_df = pd.DataFrame(v_table[0])
variable_df['Label'].replace({"!!": " ", ":": ""}, regex=True, inplace=True)

demographic_labels = variable_df["Label"][:712:8].reset_index(drop=True).str.title()

In [21]:
def get_social_df_url(url):
    response = requests.get(url)
    print(response.status_code) if response.status_code != 200 else False
    if response.status_code == 200:
        data = response.json()
        valid_data = np.array(data[1:][0][:-4:2]).reshape(-1,4)
        socs_df = pd.DataFrame(valid_data).rename(columns = {0: "Estimate", 
                                                             1: "Margin of Error", 
                                                             2: "Percent", 
                                                             3: "Percent Margin of Error"})

        # Need to add proper indices. 
        socs_df.index = social_labels
        # Need to replace "-888888888", need to do for rest of Annotation values.
        socs_df = test_df.replace("-888888888", "(X)")
    
        return socs_df
    else:
        return 0

<h2>Pulling ZCTA Per State to Allow Scraping by State</h2>

In [13]:
zcta_mapping_df = pd.read_excel("./ani_csv/ZIPCodetoZCTACrosswalk2021UDS.xlsx")
zcta_mapping_df

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,zip_join_type
0,501,Holtsville,NY,Post Office or large volume customer,11742.0,Spatial join to ZCTA
1,544,Holtsville,NY,Post Office or large volume customer,11742.0,Spatial join to ZCTA
2,601,Adjuntas,PR,Zip Code Area,601.0,Zip matches ZCTA
3,602,Aguada,PR,Zip Code Area,602.0,Zip matches ZCTA
4,603,Aguadilla,PR,Zip Code Area,603.0,Zip matches ZCTA
...,...,...,...,...,...,...
41086,99926,Metlakatla,AK,Zip Code Area,99926.0,Zip matches ZCTA
41087,99927,Point Baker,AK,Zip Code Area,99927.0,Zip matches ZCTA
41088,99928,Ward Cove,AK,Post Office or large volume customer,99901.0,Spatial join to ZCTA
41089,99929,Wrangell,AK,Zip Code Area,99929.0,Zip matches ZCTA
41090,99950,Ketchikan,AK,Zip Code Area,99921.0,Spatial join to ZCTA

In [14]:
#Clean it so it is only ZCTA and State

zcta_to_state = zcta_mapping_df[["STATE", "ZCTA"]]
zcta_to_state = zcta_to_state[~zcta_to_state["ZCTA"].isna()]
zcta_to_state["ZCTA"] = zcta_to_state["ZCTA"].astype(int)
zcta_to_state

      STATE   ZCTA
0        NY  11742
1        NY  11742
2        PR    601
3        PR    602
4        PR    603
...     ...    ...
41086    AK  99926
41087    AK  99927
41088    AK  99901
41089    AK  99929
41090    AK  99921

[41083 rows x 2 columns]

<h2>Preparing State-Specific Scraping Function</h2>

In [15]:
import os

In [22]:
def get_social_df_state(abbrev):
    base_url = "https://api.census.gov/data/2021/acs/acs5/profile?get="
    api_key = "&key=672276f2a0ad053d60f8bb0848cad8a290a29427"
    group = "group(DP02)"
    zcta_url = "&for=zip%20code%20tabulation%20area:0"

    ZCTA_Range = list(zcta_to_state[zcta_to_state["STATE"] == abbrev]["ZCTA"])
    
    try:
        os.mkdir("census_data")
    except:
        pass
    
    try:
        os.mkdir("./census_data/social_chars")
    except:
        pass
    
    try:
        os.mkdir(f"./census_data/social_chars/{abbrev}")
    except:
        pass

    for zcta in ZCTA_Range:
        url = f"{base_url}{group}{zcta_url}{zcta}{api_key}"
        new_social_df = get_social_df_url(url)
        if not isinstance(new_social_df, pd.DataFrame):
            print(f"Failed at zcta {zcta}")
            continue
        else:
            try:
                new_social_df.to_csv(f"census_data/social_chars/{abbrev}/{zcta}.csv")
            except:
                pass
            print(f"Succeeded at zcta {zcta}")

In [23]:
get_social_df_state("MA")

Succeeded at zcta 1001
Succeeded at zcta 1002
Succeeded at zcta 1003
Succeeded at zcta 1002
Succeeded at zcta 1005
Succeeded at zcta 1007
Succeeded at zcta 1008
Succeeded at zcta 1009
Succeeded at zcta 1010
Succeeded at zcta 1011
Succeeded at zcta 1012
Succeeded at zcta 1013
Succeeded at zcta 1013
Succeeded at zcta 1020
Succeeded at zcta 1020
Succeeded at zcta 1022
Succeeded at zcta 1026
Succeeded at zcta 1027
Succeeded at zcta 1028
Succeeded at zcta 1029
Succeeded at zcta 1030
Succeeded at zcta 1031
Succeeded at zcta 1032
Succeeded at zcta 1033
Succeeded at zcta 1034
Succeeded at zcta 1035
Succeeded at zcta 1036
Succeeded at zcta 1037
Succeeded at zcta 1038
Succeeded at zcta 1039
Succeeded at zcta 1040
Succeeded at zcta 1040
Succeeded at zcta 1050
Succeeded at zcta 1053
Succeeded at zcta 1054
Succeeded at zcta 1056
Succeeded at zcta 1057
Succeeded at zcta 1002
Succeeded at zcta 1060
Succeeded at zcta 1060
Succeeded at zcta 1062
Succeeded at zcta 1063
Succeeded at zcta 1066
Succeeded at zcta 1068
Succeeded at zcta 1069
Succeeded at zcta 1070
Succeeded at zcta 1071
Succeeded at zcta 1072
Succeeded at zcta 1073
Succeeded at zcta 1074
Succeeded at zcta 1075
Succeeded at zcta 1077
Succeeded at zcta 1079
Succeeded at zcta 1080
Succeeded at zcta 1081
Succeeded at zcta 1082
Succeeded at zcta 1083
Succeeded at zcta 1084
Succeeded at zcta 1085
204
Failed at zcta 1086
Succeeded at zcta 1088
Succeeded at zcta 1089
Succeeded at zcta 1089
Succeeded at zcta 1092
Succeeded at zcta 1093
Succeeded at zcta 1094
Succeeded at zcta 1095
Succeeded at zcta 1096
Succeeded at zcta 1097
Succeeded at zcta 1098
Succeeded at zcta 1104
Succeeded at zcta 1104
Succeeded at zcta 1103
Succeeded at zcta 1104
Succeeded at zcta 1105
Succeeded at zcta 1106
Succeeded at zcta 1107
Succeeded at zcta 1108
Succeeded at zcta 1109
Succeeded at zcta 1109
Succeeded at zcta 1103
Succeeded at zcta 1106
Succeeded at zcta 1118
Succeeded at zcta 1119
Succeeded at zcta 1128
Succeeded at zcta 1129
Succeeded at zcta 1108
Succeeded at zcta 1109
Succeeded at zcta 1103
Succeeded at zcta 1151
Succeeded at zcta 1151
204
Failed at zcta 1199
Succeeded at zcta 1201
Succeeded at zcta 1201
Succeeded at zcta 1201
Succeeded at zcta 1220
Succeeded at zcta 1222
Succeeded at zcta 1223
Succeeded at zcta 1224
Succeeded at zcta 1225
Succeeded at zcta 1226
Succeeded at zcta 1226
Succeeded at zcta 1229
Succeeded at zcta 1230
Succeeded at zcta 1235
Succeeded at zcta 1236
Succeeded at zcta 1237
Succeeded at zcta 1238
Succeeded at zcta 1240
Succeeded at zcta 1242
Succeeded at zcta 1243
Succeeded at zcta 1244
Succeeded at zcta 1245
Succeeded at zcta 1247
Succeeded at zcta 1230
Succeeded at zcta 1253
Succeeded at zcta 1254
Succeeded at zcta 1255
Succeeded at zcta 1256
Succeeded at zcta 1257
Succeeded at zcta 1258
Succeeded at zcta 1259
Succeeded at zcta 1260
Succeeded at zcta 1262
Succeeded at zcta 1262
Succeeded at zcta 1264
Succeeded at zcta 1266
Succeeded at zcta 1267
Succeeded at zcta 1270
Succeeded at zcta 1301
Succeeded at zcta 1301
Succeeded at zcta 1330
Succeeded at zcta 1331
Succeeded at zcta 1337
Succeeded at zcta 1338
Succeeded at zcta 1339
Succeeded at zcta 1340
Succeeded at zcta 1341
Succeeded at zcta 1342
Succeeded at zcta 1343
Succeeded at zcta 1344
Succeeded at zcta 1346
Succeeded at zcta 1347
Succeeded at zcta 1349
Succeeded at zcta 1350
Succeeded at zcta 1351
Succeeded at zcta 1354
Succeeded at zcta 1355
Succeeded at zcta 1360
Succeeded at zcta 1364
Succeeded at zcta 1366
Succeeded at zcta 1367
Succeeded at zcta 1368
Succeeded at zcta 1370
Succeeded at zcta 1373
Succeeded at zcta 1375
Succeeded at zcta 1376
Succeeded at zcta 1378
Succeeded at zcta 1379
Succeeded at zcta 1379
Succeeded at zcta 1420
Succeeded at zcta 1430
Succeeded at zcta 1431
Succeeded at zcta 1432
Succeeded at zcta 1434
Succeeded at zcta 1436
Succeeded at zcta 1438
Succeeded at zcta 1440
Succeeded at zcta 1473
Succeeded at zcta 1450
Succeeded at zcta 1451
Succeeded at zcta 1452
Succeeded at zcta 1453
Succeeded at zcta 1460
Succeeded at zcta 1462
Succeeded at zcta 1463
Succeeded at zcta 1464
204
Failed at zcta 1467
Succeeded at zcta 1468
Succeeded at zcta 1469
Succeeded at zcta 1450
Succeeded at zcta 1450
Succeeded at zcta 1450
Succeeded at zcta 1473
Succeeded at zcta 1474
Succeeded at zcta 1475
Succeeded at zcta 1501
Succeeded at zcta 1503
Succeeded at zcta 1504
Succeeded at zcta 1505
Succeeded at zcta 1506
Succeeded at zcta 1507
Succeeded at zcta 1507
Succeeded at zcta 1507
Succeeded at zcta 1510
Succeeded at zcta 1515
Succeeded at zcta 1516
Succeeded at zcta 1518
Succeeded at zcta 1519
Succeeded at zcta 1520
Succeeded at zcta 1521
Succeeded at zcta 1522
Succeeded at zcta 1523
Succeeded at zcta 1524
Succeeded at zcta 1525
Succeeded at zcta 1590
Succeeded at zcta 1527
Succeeded at zcta 1529
Succeeded at zcta 1531
Succeeded at zcta 1532
Succeeded at zcta 1534
Succeeded at zcta 1535
Succeeded at zcta 1536
Succeeded at zcta 1537
Succeeded at zcta 1569
Succeeded at zcta 1540
Succeeded at zcta 1541
Succeeded at zcta 1542
Succeeded at zcta 1543
Succeeded at zcta 1545
Succeeded at zcta 1545
Succeeded at zcta 1550
Succeeded at zcta 1560
Succeeded at zcta 1561
Succeeded at zcta 1562
Succeeded at zcta 1564
Succeeded at zcta 1566
Succeeded at zcta 1568
Succeeded at zcta 1569
Succeeded at zcta 1570
Succeeded at zcta 1571
Succeeded at zcta 1581
Succeeded at zcta 1583
Succeeded at zcta 1585
Succeeded at zcta 1527
Succeeded at zcta 1588
Succeeded at zcta 1590
Succeeded at zcta 1608
Succeeded at zcta 1602
Succeeded at zcta 1603
Succeeded at zcta 1604
Succeeded at zcta 1605
Succeeded at zcta 1606
Succeeded at zcta 1607
Succeeded at zcta 1608
Succeeded at zcta 1609
Succeeded at zcta 1610
Succeeded at zcta 1611
Succeeded at zcta 1612
Succeeded at zcta 1605
Succeeded at zcta 1608
Succeeded at zcta 1605
Succeeded at zcta 1605
Succeeded at zcta 1605
Succeeded at zcta 1701
Succeeded at zcta 1702
Succeeded at zcta 1701
Succeeded at zcta 1702
Succeeded at zcta 1701
Succeeded at zcta 1718
Succeeded at zcta 1719
Succeeded at zcta 1720
Succeeded at zcta 1721
Succeeded at zcta 1730
Succeeded at zcta 1731
Succeeded at zcta 1740
Succeeded at zcta 1741
Succeeded at zcta 1742
Succeeded at zcta 1745
Succeeded at zcta 1746
Succeeded at zcta 1747
Succeeded at zcta 1748
Succeeded at zcta 1749
Succeeded at zcta 1752
Succeeded at zcta 1754
Succeeded at zcta 1756
Succeeded at zcta 1757
Succeeded at zcta 1760
Succeeded at zcta 1770
Succeeded at zcta 1772
Succeeded at zcta 1773
Succeeded at zcta 1775
Succeeded at zcta 1776
Succeeded at zcta 1778
Succeeded at zcta 1748
Succeeded at zcta 1801
Succeeded at zcta 1803
Succeeded at zcta 1803
Succeeded at zcta 1810
Succeeded at zcta 1810
Succeeded at zcta 1801
Succeeded at zcta 1801
Succeeded at zcta 1821
Succeeded at zcta 1821
Succeeded at zcta 1824
Succeeded at zcta 1826
Succeeded at zcta 1827
Succeeded at zcta 1830
Succeeded at zcta 1830
Succeeded at zcta 1832
Succeeded at zcta 1833
Succeeded at zcta 1834
Succeeded at zcta 1835
Succeeded at zcta 1840
Succeeded at zcta 1841
Succeeded at zcta 1840
Succeeded at zcta 1843
Succeeded at zcta 1844
Succeeded at zcta 1845
Succeeded at zcta 1850
Succeeded at zcta 1851
Succeeded at zcta 1852
Succeeded at zcta 1852
Succeeded at zcta 1854
Succeeded at zcta 1860
Succeeded at zcta 1862
Succeeded at zcta 1863
Succeeded at zcta 1864
Succeeded at zcta 1821
Succeeded at zcta 1821
Succeeded at zcta 1867
Succeeded at zcta 1876
Succeeded at zcta 1879
Succeeded at zcta 1880
Succeeded at zcta 1921
Succeeded at zcta 1886
Succeeded at zcta 1887
Succeeded at zcta 1801
Succeeded at zcta 1864
Succeeded at zcta 1890
Succeeded at zcta 1810
Succeeded at zcta 1901
Succeeded at zcta 1902
Succeeded at zcta 1902
Succeeded at zcta 1904
Succeeded at zcta 1905
Succeeded at zcta 1906
Succeeded at zcta 1907
Succeeded at zcta 1908
Succeeded at zcta 1905
Succeeded at zcta 1913
Succeeded at zcta 1915
Succeeded at zcta 1921
Succeeded at zcta 1922
Succeeded at zcta 1923
Succeeded at zcta 1929
Succeeded at zcta 1930
Succeeded at zcta 1930
Succeeded at zcta 1982
Succeeded at zcta 1937
Succeeded at zcta 1938
Succeeded at zcta 1940
Succeeded at zcta 1944
Succeeded at zcta 1945
Succeeded at zcta 1949
Succeeded at zcta 1950
Succeeded at zcta 1951
Succeeded at zcta 1952
Succeeded at zcta 1960
Succeeded at zcta 1960
Succeeded at zcta 1915
Succeeded at zcta 1966
Succeeded at zcta 1969
Succeeded at zcta 1970
Succeeded at zcta 1970
Succeeded at zcta 1982
Succeeded at zcta 1983
Succeeded at zcta 1984
Succeeded at zcta 1985
Succeeded at zcta 2043
Succeeded at zcta 2019
Succeeded at zcta 2050
Succeeded at zcta 2021
Succeeded at zcta 2025
Succeeded at zcta 2026
Succeeded at zcta 2026
Succeeded at zcta 2030
Succeeded at zcta 2032
Succeeded at zcta 2035
Succeeded at zcta 2038
Succeeded at zcta 2066
Succeeded at zcta 2050
Succeeded at zcta 2043
Succeeded at zcta 2043
Succeeded at zcta 2045
Succeeded at zcta 2047
Succeeded at zcta 2048
Succeeded at zcta 2050
Succeeded at zcta 2050
Succeeded at zcta 2052
Succeeded at zcta 2053
Succeeded at zcta 2054
Succeeded at zcta 2066
Succeeded at zcta 2056
Succeeded at zcta 2050
Succeeded at zcta 2066
Succeeded at zcta 2061
Succeeded at zcta 2062
Succeeded at zcta 2050
Succeeded at zcta 2066
Succeeded at zcta 2067
Succeeded at zcta 2093
Succeeded at zcta 2071
Succeeded at zcta 2072
Succeeded at zcta 2081
Succeeded at zcta 2090
Succeeded at zcta 2093
Succeeded at zcta 2108
Succeeded at zcta 2109
Succeeded at zcta 2110
Succeeded at zcta 2111
Succeeded at zcta 2111
Succeeded at zcta 2113
Succeeded at zcta 2114
Succeeded at zcta 2115
Succeeded at zcta 2116
Succeeded at zcta 2116
Succeeded at zcta 2118
Succeeded at zcta 2119
Succeeded at zcta 2120
Succeeded at zcta 2121
Succeeded at zcta 2122
Succeeded at zcta 2115
Succeeded at zcta 2124
Succeeded at zcta 2125
Succeeded at zcta 2126
Succeeded at zcta 2127
Succeeded at zcta 2128
Succeeded at zcta 2129
Succeeded at zcta 2130
Succeeded at zcta 2131
Succeeded at zcta 2132
Succeeded at zcta 2108
Succeeded at zcta 2134
Succeeded at zcta 2135
Succeeded at zcta 2136
Succeeded at zcta 2136
Succeeded at zcta 2138
Succeeded at zcta 2139
Succeeded at zcta 2140
Succeeded at zcta 2141
Succeeded at zcta 2142
Succeeded at zcta 2143
Succeeded at zcta 2144
Succeeded at zcta 2145
Succeeded at zcta 2148
Succeeded at zcta 2149
Succeeded at zcta 2150
Succeeded at zcta 2151
Succeeded at zcta 2152
Succeeded at zcta 2155
Succeeded at zcta 2155
Succeeded at zcta 2155
Succeeded at zcta 2163
Succeeded at zcta 2169
Succeeded at zcta 2170
Succeeded at zcta 2171
Succeeded at zcta 2176
Succeeded at zcta 2180
Succeeded at zcta 2184
Succeeded at zcta 2184
Succeeded at zcta 2186
Succeeded at zcta 2186
Succeeded at zcta 2188
Succeeded at zcta 2189
Succeeded at zcta 2190
Succeeded at zcta 2191
Succeeded at zcta 2110
Succeeded at zcta 2199
Succeeded at zcta 2203
Succeeded at zcta 2203
Succeeded at zcta 2150
Succeeded at zcta 2111
Succeeded at zcta 2150
Succeeded at zcta 2210
Succeeded at zcta 2109
Succeeded at zcta 2109
Succeeded at zcta 2215
Succeeded at zcta 2116
Succeeded at zcta 2114
Succeeded at zcta 2138
Succeeded at zcta 2110
Succeeded at zcta 2111
Succeeded at zcta 2169
Succeeded at zcta 2111
Succeeded at zcta 2111
Succeeded at zcta 2111
Succeeded at zcta 2111
Succeeded at zcta 2111
Succeeded at zcta 2301
Succeeded at zcta 2302
Succeeded at zcta 2302
Succeeded at zcta 2301
Succeeded at zcta 2301
Succeeded at zcta 2322
Succeeded at zcta 2324
Succeeded at zcta 2324
Succeeded at zcta 2359
Succeeded at zcta 2330
Succeeded at zcta 2332
Succeeded at zcta 2332
Succeeded at zcta 2333
Succeeded at zcta 2356
Succeeded at zcta 2333
Succeeded at zcta 2338
Succeeded at zcta 2339
Succeeded at zcta 2341
Succeeded at zcta 2343
Succeeded at zcta 2346
Succeeded at zcta 2360
Succeeded at zcta 2346
Succeeded at zcta 2347
Succeeded at zcta 2347
Succeeded at zcta 2347
Succeeded at zcta 2341
Succeeded at zcta 2351
Succeeded at zcta 2330
Succeeded at zcta 2356
Succeeded at zcta 2357
Succeeded at zcta 2359
Succeeded at zcta 2359
Succeeded at zcta 2360
Succeeded at zcta 2360
Succeeded at zcta 2360
Succeeded at zcta 2364
Succeeded at zcta 2366
Succeeded at zcta 2367
Succeeded at zcta 2368
Succeeded at zcta 2370
Succeeded at zcta 2375
Succeeded at zcta 2379
Succeeded at zcta 2360
Succeeded at zcta 2382
Succeeded at zcta 2420
Succeeded at zcta 2421
Succeeded at zcta 2445
Succeeded at zcta 2446
Succeeded at zcta 2445
Succeeded at zcta 2451
Succeeded at zcta 2452
Succeeded at zcta 2453
Succeeded at zcta 2453
Succeeded at zcta 2451
Succeeded at zcta 2472
Succeeded at zcta 2457
Succeeded at zcta 2458
Succeeded at zcta 2459
Succeeded at zcta 2460
Succeeded at zcta 2461
Succeeded at zcta 2462
Succeeded at zcta 2464
Succeeded at zcta 2465
Succeeded at zcta 2466
Succeeded at zcta 2467
Succeeded at zcta 2468
Succeeded at zcta 2472
Succeeded at zcta 2472
Succeeded at zcta 2474
Succeeded at zcta 2476
Succeeded at zcta 2476
Succeeded at zcta 2472
Succeeded at zcta 2478
Succeeded at zcta 2478
Succeeded at zcta 2481
Succeeded at zcta 2482
Succeeded at zcta 2492
Succeeded at zcta 2493
Succeeded at zcta 2494
Succeeded at zcta 2458
Succeeded at zcta 2532
Succeeded at zcta 2534
Succeeded at zcta 2535
Succeeded at zcta 2536
Succeeded at zcta 2537
Succeeded at zcta 2538
Succeeded at zcta 2539
Succeeded at zcta 2540
Succeeded at zcta 2540
Succeeded at zcta 2542
Succeeded at zcta 2543
Succeeded at zcta 2535
Succeeded at zcta 2553
Succeeded at zcta 2554
Succeeded at zcta 2556
Succeeded at zcta 2557
Succeeded at zcta 2558
Succeeded at zcta 2559
Succeeded at zcta 2561
Succeeded at zcta 2562
Succeeded at zcta 2563
Succeeded at zcta 2564
Succeeded at zcta 2568
Succeeded at zcta 2571
Succeeded at zcta 2540
Succeeded at zcta 2575
Succeeded at zcta 2576
Succeeded at zcta 2584
Succeeded at zcta 2601
Succeeded at zcta 2630
Succeeded at zcta 2631
Succeeded at zcta 2632
Succeeded at zcta 2633
Succeeded at zcta 2632
Succeeded at zcta 2635
Succeeded at zcta 2637
Succeeded at zcta 2638
Succeeded at zcta 2639
Succeeded at zcta 2641
Succeeded at zcta 2642
Succeeded at zcta 2643
Succeeded at zcta 2644
Succeeded at zcta 2645
Succeeded at zcta 2646
Succeeded at zcta 2647
Succeeded at zcta 2648
Succeeded at zcta 2649
Succeeded at zcta 2650
204
Failed at zcta 2651
Succeeded at zcta 2652
Succeeded at zcta 2653
Succeeded at zcta 2655
Succeeded at zcta 2657
Succeeded at zcta 2659
Succeeded at zcta 2660
Succeeded at zcta 2645
Succeeded at zcta 2653
Succeeded at zcta 2663
Succeeded at zcta 2664
Succeeded at zcta 2666
Succeeded at zcta 2667
Succeeded at zcta 2668
204
Failed at zcta 2669
Succeeded at zcta 2670
Succeeded at zcta 2671
Succeeded at zcta 2672
Succeeded at zcta 2673
Succeeded at zcta 2675
Succeeded at zcta 2702
Succeeded at zcta 2703
Succeeded at zcta 2766
Succeeded at zcta 2713
Succeeded at zcta 2748
Succeeded at zcta 2715
Succeeded at zcta 2717
Succeeded at zcta 2718
Succeeded at zcta 2719
Succeeded at zcta 2720
Succeeded at zcta 2721
Succeeded at zcta 2721
Succeeded at zcta 2723
Succeeded at zcta 2724
Succeeded at zcta 2725
Succeeded at zcta 2726
Succeeded at zcta 2738
Succeeded at zcta 2739
Succeeded at zcta 2740
Succeeded at zcta 2740
Succeeded at zcta 2740
Succeeded at zcta 2743
Succeeded at zcta 2744
Succeeded at zcta 2745
Succeeded at zcta 2746
Succeeded at zcta 2747
Succeeded at zcta 2748
Succeeded at zcta 2760
Succeeded at zcta 2760
Succeeded at zcta 2762
Succeeded at zcta 2763
Succeeded at zcta 2764
Succeeded at zcta 2766
Succeeded at zcta 2767
Succeeded at zcta 2767
Succeeded at zcta 2769
Succeeded at zcta 2770
Succeeded at zcta 2771
Succeeded at zcta 2777
Succeeded at zcta 2779
Succeeded at zcta 2780
Succeeded at zcta 2790
Succeeded at zcta 2791
Succeeded at zcta 1810

In [25]:
len(list(zcta_to_state[zcta_to_state["STATE"] == "MA"]["ZCTA"]))
#It took 10 minutes, or around 600 seconds to scrape 681 data sets
#Texas has 1939 ZCTAs so it will take an estimated

681